<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の編集</h2>
  <form action="/k-pop/update/<%= data.id - 1 %>" method="POST">
    <table>
      <tr><th>項目</th><th>データ</th></tr>
      <tr><td>ID</td><td><input type="text" name="id" value="<%= data.id %>"></td></tr>
      <tr><td>アイドル名</td><td><input type="text" name="name" value="<%= data.name %>"></td></tr>
      <tr><td>メンバー</td><td><input type="text" name="member" value="<%= data.member %>"></td></tr>
      <tr><td>ファンネーム</td><td><input type="text" name="fanname" value="<%= data.fanname %>"></td></tr>
      <tr><td>事務所</td><td><input type="text" name="office" value="<%= data.office %>"></td></tr>
      <tr><td>デビュー日</td><td><input type="text" name="debut_date" value="<%= data.debut_date %>"></td></tr>
      <tr><td>デビュー曲</td><td><input type="text" name="debut_song" value="<%= data.debut_song %>"></td></tr>
    </table>
    <input type="submit" values="登録">
  </form>
  <a href="/k-pop/">k-popアイドル一覧に戻る</a>
</body>
</html>