<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の詳細</h2>
  <table>
    <tr><th>項目</th><th>データ</th></tr>
    <tr><td>ID</td><td><%= data.id %></td></tr>
    <tr><td>アイドル名</td><td><%= data.name %></td></tr>
    <tr><td>メンバー</td><td><%= data.member %></td></tr>
    <tr><td>ファンネーム</td><td><%= data.fanname %></td></tr>
    <tr><td>事務所</td><td><%= data.office %></td></tr>
    <tr><td>デビュー日</td><td><%= data.debut_date %></td></tr>
    <tr><td>デビュー曲</td><td><%= data.debut_song %></td></tr>
  </table>
  <a href="/k-pop/edit/<%= id %>">編集</a>
  <a href="/k-pop/delete/<%= id %>">削除</a>
  <a href="/k-pop">k-popアイドル一覧に戻る</a>
</body>
</html>